*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header .logo a{
    font-family: 'Rubik Puddles', cursive;
    color: blue;
    text-decoration: none;
}
.header .logo{
    padding: 10px 15px;
}
.header .login-sign-up a{
    text-decoration: none;
    color: white;
}
.header .login-sign-up li{
    border: 1px solid blue;
    background-color: blue;
    padding: 8px 15px;
    border-radius: 20px;
    width: 70px;
    height: fit-content;
    text-align: center;
}
.header .login-sign-up ul{
    list-style-type: none;
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    
}
.main-content .section1{
    padding: 20px 30px;
    text-align: center;
}
.main-content .section1 .topic1{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3px;
}
.main-content .arrow{
    box-shadow: 0 0 5px black;
    border-radius: 35px;
    padding: 15px;
    margin: 20px 10px;
    text-align: center;
    color: blue;
}
.main-form-content{
    background-image: url(Plants.png);
    background-size: cover;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 400px;
    padding: 30px;
    border-radius: 5px;
    flex-direction: column;
}
.logo{
    font-family: 'Rubik Puddles', cursive;
    color: blue;
}
.form{
    border: none;
    margin: 5px ;
    border-bottom: 2px solid blue;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    padding: 15px 2px;
}
.main-form-content label{
    font-size: 10px;
}
.main-form-content form .submit{
    padding: 10px;
    border-radius: 1000px;
    margin-top: 8px;
    text-align: center;
    background-color: blue;
    width: 100%;
    border: none;
    height: 40px;
    color: white;
    cursor: pointer;
}
.main-form-content p a{
    text-decoration: none;
    color: blue;
}
.form:focus{
    box-shadow: 0 0 3px black;
    padding: 4px;
}